/**************************
 ***** General Styles *****
 **************************/
@font-face {
    font-family: yekan;
    src: url('../fonts/Yekan.woff') format('woff')
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekan;
}

html {
    font-size: 62.5%;
}

body {
    direction: rtl;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}



/**************************
 ***** Header Styles *****
 **************************/
.wrapper {
    width: 60rem;
    height: 75rem;
    border: .5rem solid rgba(241, 196, 15, 0.5);
    border-radius: 3rem;
    margin-top: 3rem;
    padding: 1rem 2rem;
}

.wrapper header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 2rem;
}


/**************************
 ***** Body Styles *****
 **************************/
.items {
    width: 100%;
    height: 58vh;
    overflow-y: scroll;
}

.items .foods {
    height: 25%;
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.items .foods .foods-info {
    width: 23rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.items .foods .foods-info .foods-info-img {
    display: flex;
    align-items: center;
}

.items .foods .foods-info .foods-info-img img {
    width: 10rem;
    height: 10rem;
}


.items .foods .foods-info .foods-info-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items .foods .foods-info .foods-info-details p:first-child {
    font-size: 1.74rem;
    font-weight: bold;
}

.items .foods .foods-info .foods-info-details p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bold;
}

.items .foods .foods-info .foods-info-details-number {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background: blue; */
}

.items .foods .foods-info .foods-info-details-number span  {
    font-size: 2rem;
    text-align: left;
}

.items .foods .foods-info .foods-info-details-number .foods-info-details-number-add {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}

.items .foods .foods-info .foods-info-details-number .foods-info-details-number-add a:first-child {
    height: 1rem;
}

.items .foods .foods-info .foods-info-details-number .foods-info-details-number-add a:nth-child(2) {
    height: .8rem;
    margin-top: .7rem;
}

.items .foods .foods-info .foods-info-details-number .foods-info-details-number-add a i {
    font-size: 1.5rem;
    color: #e94e3e;
}

.items .foods .foods-price {
    padding-left: 3rem;
    padding-bottom: 1rem;
}

.items .foods .foods-price div {
    font-size: 2rem;
    font-weight: bold;
}

.items .foods .foods-price div span {
    font-size: 3rem;
    font-weight: bold;
}


/**************************
 ***** Footer Styles *****
 **************************/
footer .order {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

footer .order .order-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .order .order-right>div {
    margin-top: 0.5rem;
    font-size: 2rem;
}


footer .order .order-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .order .order-left .order-left-discount {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

footer .order .order-left .order-left-discount input {
    width: 90%;
    border: .12rem solid #e67e22;
    border-radius: 2.3rem;
    padding: 1rem;
    outline: none;
    font-size: 1.6rem;
}

footer .order .order-left .order-left-discount input::placeholder {
    color: #e67e22;
    font-size: 1.6rem;
    font-weight: bold;
}

footer .order .order-left .order-left-discount i {
    position: absolute;
    left: 7%;
    border-radius: 50%;
    border: .1rem solid #f39c12;
    background-color: #f39c12;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 100;
    cursor: pointer;
    transition: .5s;
}

footer .order .order-left .order-left-discount i:hover {
    color: #f39c12;
    background-color: #fff;
}


footer .order .order-left .order-left-reg {
    width: 90%;
    margin: 0 auto;
    border-radius: 1.2rem;
    background-color: #e67e22;
    border: .1rem solid #e67e22;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem;
    outline: none;
    transition: .5s;
    cursor: pointer;
}


footer .order .order-left .order-left-reg:hover {
    color: #e67e22;
    background-color: #fff;
}